.section-heading[data-v-fd6e548a]{display:flex;align-items:center;justify-content:space-between;margin-bottom:14px}.section-heading h3[data-v-fd6e548a]{margin:0;font-size:15px}.rule-row[data-v-fd6e548a]{display:flex;gap:8px;margin-bottom:12px;align-items:flex-start}.rule-row .el-input[data-v-fd6e548a]{flex:1}

